@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --lightmodebackground: hsl(0, 0%, 93%);
  --lightmodeelement: hsl(0, 0%, 100%);
  --lightmodetext: hsl(200, 15%, 8%);
  --lightmodeshadow: rgb(207, 207, 207);
  --lightmodeinput: hsl(0, 0%, 100%);
  --darkmodebackground: hsl(207, 26%, 17%);
  --darkmodeelement: hsl(209, 23%, 22%);
  --darkmodetext: hsl(0, 0%, 100%);
  --darkmodeshadow: rgb(0, 0, 0);
  --darkmodeinput: hsl(0, 0%, 52%);
}

body {
  background: var(--lightmodebackground);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.outercontainer {
  background: var(--lightmodebackground);
  display: block;
  margin: 0;
  padding: 0 0 100px 0;
  position: relative;
}

.headercontainer {
  background: var(--lightmodeelement);
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 0 2px 2px var(--lightmodeshadow);
          box-shadow: 0 2px 2px var(--lightmodeshadow);
}

.headercontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 25px;
}

.headercontainer .title {
  color: var(--lightmodetext);
  font-size: 1.75em;
  text-shadow: 0 1px 1px var(--lightmodeshadow);
}

.headercontainer .titlelink {
  text-decoration: none;
  color: var(--lightmodetext);
}

.headercontainer .fa-moon-o {
  color: var(--lightmodetext);
  cursor: pointer;
}

.maincontainer {
  display: block;
  position: relative;
  width: 75%;
  margin: 25px auto;
}

.search {
  display: block;
  width: 100%;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--lightmodeelement);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px var(--lightmodeshadow);
          box-shadow: 0 2px 2px var(--lightmodeshadow);
}

.searchbar .fa-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--lightmodeelement);
  color: var(--lightmodetext);
  padding: 15px 5px;
  width: 100%;
  border: 0;
  border-radius: 5px;
}

.searchbar .searchbox {
  color: var(--lightmodetext);
  border: 0;
  width: 100%;
  font-size: 15px;
  margin-left: 10px;
  line-height: 1.5em;
}

.searchbar .searchbox::-webkit-input-placeholder {
  color: inherit;
}

.searchbar .searchbox:-ms-input-placeholder {
  color: inherit;
}

.searchbar .searchbox::-ms-input-placeholder {
  color: inherit;
}

.searchbar .searchbox::placeholder {
  color: inherit;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--lightmodeelement);
  color: var(--lightmodetext);
  position: relative;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  -webkit-box-shadow: 0 2px 2px var(--lightmodeshadow);
          box-shadow: 0 2px 2px var(--lightmodeshadow);
  cursor: pointer;
}

.dropdown .regionlist {
  display: none;
  background: var(--lightmodeelement);
  color: var(--lightmodetext);
  position: absolute;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 15px;
  top: 100%;
  left: 0;
  margin-top: -5px;
  list-style: none;
  -webkit-box-shadow: 0 2px 2px var(--lightmodeshadow);
          box-shadow: 0 2px 2px var(--lightmodeshadow);
  cursor: pointer;
}

.dropdown .regionlist .filteroption {
  font-size: medium;
  font-weight: 600;
}

.countrycontainer {
  display: -ms-grid;
  display: grid;
  gap: 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  border-radius: 5px;
  width: 100%;
  margin: auto;
}

.countrycardinfo {
  background: var(--lightmodeelement);
  border-radius: 5px;
  width: 300px;
  cursor: pointer;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 10px 10px var(--lightmodeshadow);
          box-shadow: 0 10px 10px var(--lightmodeshadow);
}

.countrycardinfo .countryflag {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 200px;
  margin-top: 0;
  padding-top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.countrycardinfo .countryname {
  line-height: 1.5em;
  margin-bottom: 25px;
  padding-right: 10px;
}

.countrycardinfo .countryinfo {
  background: var(--lightmodeelement);
  color: var(--lightmodetext);
  margin-left: 10px;
}

.countrycarddetailscontainer {
  background: var(--lightmodeelement);
  color: var(--lightmodetext);
}

.countrycardinfo .countrydetails {
  line-height: 10px;
}

.countrycardinfo .countrycapital {
  padding-bottom: 25px;
}

.modal-container {
  display: none;
  background: var(--lightmodebackground);
  position: absolute;
  font-size: 16px;
  height: 800px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.modalbackbtn {
  background: var(--lightmodeelement);
  color: var(--lightmodetext);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: none;
  border-radius: 5px;
  margin: 25px 25px 55px 25px;
  width: 100px;
  padding: 10px 10px;
  -webkit-box-shadow: 0 2px 2px var(--lightmodeshadow);
          box-shadow: 0 2px 2px var(--lightmodeshadow);
  cursor: pointer;
}

.modalcountrycontainer {
  display: block;
  color: var(--lightmodetext);
}

.modalcountryflag {
  max-width: 300px;
  max-height: 200px;
  margin-bottom: 15px;
}

.modalcountrydetailscontainer .countryname {
  margin-top: 0;
  max-width: 300px;
}

.modalcountrycardcontainer {
  width: 85%;
  margin: 0 auto;
}

.modaldetail-1, .modaldetail-2, .borders {
  margin-top: 25px;
  margin-bottom: 35px;
  line-height: 10px;
}

@media (min-width: 680px) {
  .headercontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 25px;
    width: 94%;
  }
  .maincontainer {
    width: 95%;
    margin: 25px;
  }
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 25px 0 50px 0;
    width: 100%;
  }
  .searchbar {
    width: 350px;
    margin: 0;
  }
  .searchbar .fa-search {
    width: 100%;
  }
  .searchbar .searchbox {
    width: 100%;
    font-size: 15px;
    margin-left: 10px;
    line-height: 1.5em;
  }
  .countrycontainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .countrycontainer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .modal-container {
    height: 725px;
  }
  .modalbackbtn {
    margin: 25px 25px 100px 25px;
  }
  .modalcountrycardcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 75px;
  }
  .modalcountryflag {
    max-width: 500px;
    max-height: 400px;
    margin: 0;
    padding: 0;
  }
  .modalcountrydetailscontainer .countryname {
    margin-top: 0;
    max-width: 100%;
  }
  .modaldetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 75px;
    margin: 0;
    padding: 0;
  }
  .modaldetail-1, .modaldetail-2, .borders {
    margin: 10px 0;
    line-height: 15px;
    padding: 0;
  }
  .bordercountries {
    margin-top: 25px;
  }
}

@media (min-width: 1400px) {
  .headercontainer {
    width: 100%;
    margin: 0;
  }
  .headercontent {
    margin: 0 0 0 25px;
  }
  .title {
    margin-left: 10px;
  }
  .maincontainer {
    margin: 25px;
  }
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 0 75px 25px;
    width: 100%;
  }
  .searchbar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 350px;
    margin: 0 0 0 -15px;
    padding: 0;
  }
  .dropdown {
    margin: 0 30px 0 0;
  }
  .countrycontainer {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */